* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* some need class */
.container-full {
    max-width: 1600px;
    height: auto;
    margin: auto; 
}

.container {
    max-width: 1140px;
    margin-bottom: 130px;
    height: auto;
    margin: 0 auto 130px;
}

.primary-title {
    color: #151414;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: right;

}

.seconday-title {
    color: #151414;
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 47px;
}

.primary-description {
    color: #444343;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0 32px 0;
    padding-left: 134px;
}

.secondary-description {
    color: #444343;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.primary-btn {
    background: #F15B22;
    color: #FFFFFF;
    font-style: normal;
    font-size: 20px;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;

}

.secondary-btn {
    color: #F15B22;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: none;
    border-radius: 5px;
    padding: 20px 35px;

}

/* banner */
.banner {
    /* width: 1600px;
    height: 808px; */
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 216px 0 166px 500px;
    text-align: right;

}

/* failures section  */
.failures {
    display: flex;
    gap: 87px;
    align-items: center;

}

.failures-pic {
    width: 569px;
    height: auto;
}

.failures-content>ul>li {
    list-style-type: none;
    color: #444343;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

.l-icon {
    display: inline;
    width: 20px;
    margin-right: 10px;
}

/* plan css */
.plan {
    display: flex;
    justify-content: space-between;
}

.plan-item {
    text-align: center;
}

.plan-title {
    color: #151414;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 16px;
}

.plan-description {
    color: #737272;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
}

.p-icon {
    width: 90px;
    height: auto;
}

/* landing page section */
.landing-page {
    background-image: url(../images/watch.png);
    position: relative;
    z-index: 1;
}

.landing-page::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/gradient2.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.landing-page-content {
    width: 459px;
    padding: 60px 0 60px 64px;
}

.landing-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    margin-bottom: 24px;
}

/* footer section */
.footer{
    background-color: #151414;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 330px;
    padding: 130px 0;
}
.future-content{
    width: 485px;
}

.future-title {
    color: #F8F8F8;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.future-description {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 16px 0 24px 0;
}
.s-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 31px;
}
.social-icons ul{
    width: 175px;
    height: auto;
    display: flex;
    gap: 18px;

}
.contact >p{
    color: #FFFFFF;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin: 16px 0;
}

.subscribe-content {

}
.subscribe-content input[type="email"]{
    width: 300px;
    padding: 10px 15px;
    background-color: #151414;
    border-radius: 5px;
    border: 1px solid rgb(189, 187, 187);
    font-size: 16px;
    margin-bottom: 20px;
}

